/* FONTS */
@import url(fonts.css);

/* reset style */
@import url("reset.css");

[class*="__container"] {
    max-width: 1290px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.wrapper {
    overflow: clip;
}

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: #f8f8f8;
}

.header {
    padding: 30px 0 0 0;
}

.top__container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 30px;
    color: #535353;
    line-height: 1.875; /* 30px/16 */
    transition: all 0.5s;
}

.header__menu .menu__item:hover {
    color: #FFBC57;
    transition: all 0.5s;
}

.header__right-side {
    display: flex;
    align-items: center;
}

.header__help-and-consult {
    margin-right: 20px;
    color: #535353;
    line-height: 1.875; /* 30px/16 */
}

.header__messangers {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.header__messangers .messangers__icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}

.header__messangers .messangers__icon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}


.header__languages {
    background-color: #f8f8f8;
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789; /* 24px/19 */
}

.header__middle {
    background-color: #fff;
    margin-bottom: 2px;
}

.middle__container {
    display: flex;
    padding: 25px 0;
}

.header__logo {
    max-width: 250px;
    height: 50px;
    margin-right: 34px;
}
.header__btn {
    margin-right: 30px;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFBC57;
}

.header__btn::before {
    content: "";
    background: url(../img/menu-catalog.png) 0 0 no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.3s;
}

.header__btn:hover::before {
        background: url(../img/menu-catalog.png) 0 0 no-repeat;
        transform: rotate(180deg);
}

.header__btn:active {
    background-color: #c4872b;
    transition: all 0.7s;
}


.header__btn span {
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789; /* 24px/19 */
    vertical-align: middle;
    margin-right: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1 1 1px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    background: #FFF;
    padding: 0 15px 0 0;
    margin-right: 30px;
  }
  
  .header__search input[type="text"] {
    color: #B1B1B1;
    line-height: 1.875; /* 30px/16 */
    padding: 10px 0 10px 15px;
  }

  .header__search input:focus {
    outline: none;
  }
  
  .header__search button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
  }
  
  .header__search button img {
    width: 24px;
    height: 24px;
  }
  
  .header__icon {
    height: 50px;
    width: 50px;
  }

  .header__icon {
    margin-right: 30px;
    transition: all 0.3s;
  }

  .header__icon .icon__tel:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }

  .contacts__schedule {
    color: #535353;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69230769; /* 22px/13 */
  }
  
  .contacts__tel {
    color: #2B2929;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.40; /* 28px/20 */
  }

  .header__contacts {
    display: flex;
    align-items: center;
  }

  .contacts__arrow {
    margin-right: 30px;
  }

  .header__shopping {
    display: flex;
    gap: 20px;
  }

  .header__shopping .shopping__icon {
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    border-radius: 50%;
  }

  .header__shopping .shopping__icon:hover {
    transition: all 0.3s;
    transform: scale(1.2);
    background-color: #a09b9b;
    border-radius: 50%;
  }



  .header__bottom {
    background-color: #fff;
    padding: 18px 0;
}

.bottom-header__container {
    display: flex;
    align-items: center;
}

.bottom-header__menu-sales {
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 41px;
}

.bottom-header__menu-sales .menu-sales__img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.bottom-header__menu-sales .menu-sales__text {
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789;
    transition: all 0.5s;
}

.bottom-header__menu-sales .menu-sales__text:hover {
    color: #FFBC57;
    transition: all 0.5s;
}

.bottom-header__menu-categories {
    display: flex;
    gap: 40px;
}

.bottom-header__menu-categories .menu-categories__link {
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789;
    transition: all 0.5s;
}

.bottom-header__menu-categories .menu-categories__link:hover {
    color: #FFBC57;
    transition: all 0.5s;
}

.page__container {
    padding: 30px 0 0 0;
}
.page__category-used {
    display: flex;
    align-items: center;
    line-height: 1.875;
    margin-bottom: 30px;
}

.category-used__main-page {
    color: #535353;
}
.category-used__arrow {
    transform: rotate(-90deg);
}
.category-used__category {
    color: #FFBC57;
}

.page__title {
    color: #2B2929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.20;
    margin-bottom: 40px;
}

.page__row {
    display: flex;
    gap: 24px 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.row__item {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    background: url(../img/bg.webp) 0 calc(100% + 35px) / 250px 192px no-repeat, #ffffff;
    transition: all 0.3s;
}

.row__item:hover {
    transform: scale(1.05);
    transition: all 0.3;
}

.item__top-wrapper {
    display: flex;
    justify-content: space-between;
}
.item__category {
    color: #2B2929;
}

.item__count {
    color: #B1B1B1;   
}

.item__img-main {
    width: 100%;
    border-radius: 8px;
}

.item__img-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    transition: all 0.3s;
}

.item__img-arrow:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.most-popular {
}

.most-popular__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
}

.shares__box-title {
    display: flex;
    align-items: center;
}

.most-popular__title-wrapper,
.shares__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.shares__title-wrapper {
    justify-content: space-between;
}

.shares__arrow-wrapper {
    display: flex;
    gap: 20px;
}

.most-popular__title,
.shares__title {
    color: #2B2929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 30px;
}
.most-popular__sub-title,
.shares__sub-title {
    color: #FFBC57;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789;
    vertical-align: middle;
}

.most-popular__sub-title::after,
.shares__sub-title::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/see-all__arrow.svg) 0 5px;
    margin-left: 10px;
}

.most-popular__item {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    width: 300px;
    height: 468px;
    border-radius: 8px;
    border: 1px solid #E3E2E2;
    background: #FFF;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
}

.most-popular__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}

.most-popular__item:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.most-popular__img-wrapper {
    height: 217px;
    border-radius: 8px;
    background-color: #d3d3d3;
    text-align: center;
}

.most-popular__img {
    border-radius: 8px;
    width: 100%;
    transition: all 0.3s;
}

.most-popular__img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.most-popular__size {
    color: #535353;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69230769;
}

.most-popular__title-item {
    color: #2B2929;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26315789;
    text-overflow: ellipsis;
}

.most-popular__check {
    vertical-align: middle;
    color: #2B2929;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69230769;
}

.most-popular__check::before {
    content: '';
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url(../img/most-popular__check.svg);
    margin-right: 5px;
}

.most-popular__buy-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.most-popular__price-wrapper {
    display: flex;
    flex-direction: column;
}

.most-popular__old-price {
    color: #E03D3D;
    font-size: 15px;
    line-height: 1.46666667;
    text-decoration-line: line-through;
}

.most-popular__price {
    color: #2B2929;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

.most-popular__icon-wrapper {
    display: flex;
    gap: 10px;
}

.icon-wrapper__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s;
}

.icon-wrapper__img:hover {
    transition: all 0.3s;
    transform: scale(1.2);
}

.shares {
    padding: 6px 0 70px 0;
}

.shares__row {
    display: flex;
    gap: 30px;
}
.shares__row-item {
    width: 410px;
    transition: all 0.3s;
}

.shares__row-item:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.shares__arrow-wrapper .shares__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s;
}

.shares__arrow-wrapper .shares__img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}



.row-item__img {
    width: 100%;
}