  @import url(https://fonts.googleapis.com/css?family=Reem+Kufi+Fun:regular,500,600,700);

  @font-face {
    font-family: "Proxima Nova";
    src: url(./ProximaNova-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Proxima Nova";
    src: url(./ProximaNova-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Proxima Nova";
    src: url(./ProximaNova-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Proxima Nova";
    src: url(./ProximaNova-Semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }