/* FONTS */
@import url(fonts.css);

/* reset style */
@import url("reset.css");

body {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-weight: 500;
    background-color: #5461b851;
    padding: 15px;
}

.header .title {
    font-size: 50px;
    text-transform: uppercase;
}

.page__container {
    background-color: #fff;
    max-width: 1270px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

.page__container p:not(:last-child) {
    margin-bottom: 50px;
}

.page__container p img:not(:last-child) {
    vertical-align: middle;
    max-height: 300px;
    max-width: 500px;
}

.question {
    padding: 15px 0;
    min-height: 50px;
    padding-left: 45px;
    background: url(../img/question.svg) left 5px / 40px 40px no-repeat;
}

.img {
    width: 100%;
}

